.menuSuperior {
    margin: 0 0 10px 0;
}

.fundo{
position: absolute;
width: 90%;
height: 465px;
left: 32px;
top: 84px;

background: #FFFFFF;

box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}

.titulo{
    margin: 20px;
}

.textFieldDiv{
    margin:40px;
}

.btnEnviar{
    width: 30%;
    margin: 0 0 0 20px;
}