.menuSuperior {
    margin: 0 0 10px 0;
}

.fundo{
position: absolute;
width: 960px;
height: 465px;
left: 32px;
top: 84px;

background: #FFFFFF;

box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}

.nomeUsuario{
    color:#808080;
    font-size: 20px;;
}

.textFieldDiv{
    margin:40px;
}

.btnVoltar{
    width: 340px;
    margin: 0 0 0 20px;
}